@using KnowledgeMining.UI.Options
@using Microsoft.Extensions.Options
@inject IOptions<CustomizationsOptions> CustomizationsOptions

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div>
	<footer class="main-footer navbar-bg">
		<div class="content">
			<span class="copyright navbar-text-color">&copy; @DateTime.Now.Year - @CustomizationsOptions.Value.OrganizationName</span>
		</div>
	</footer>
</div>
