<MudContainer Fixed="true" Class="d-flex flex-row align-content-bottom flex-fill">
    <footer>
        <div>
            <span class="copyright navbar-text-color">&copy; @DateTime.Now.Year - </span>
        </div>
    </footer>
</MudContainer>