<div class="d-flex flex-row-reverse flex-fill">
    <div>
    </div>
    <div class="d-flex flex-column">
        <MudSlider Min="1" Max="3" Step="1" Value="@value" ValueLabel="true">Max Levels</MudSlider>
        <MudSlider Min="3" Max="30" Step="1" Value="@value" ValueLabel="true">Max Levels</MudSlider>
        <MudExpansionPanels Class="mt-6">
            <MudExpansionPanel Text="Select Facets">

            </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</div>